@font-face {
    font-family: MadeGentle;
    src: url("madegentle.otf") format("opentype");
}

body {
  background-color: #F05248;
  margin: 0;
}

.main-carousel {
  width: 100vw;
  height: 100vh;
}

.flickity-viewport {
  top: 80px;
}

.carousel-cell {
  width: 80%;
  margin-right: 30px;
  height: calc(100vh - 480px);
  border-radius: 48px;
  border: 16px solid rgba(255,255,255, 1);
  opacity: .3;
}

.carousel-cell.is-selected {
  opacity: 1;
}

.flickity-button {
  display: none;
}

.flickity-page-dots {
  bottom: 300px;
}
.flickity-page-dots .dot {
  width: 16px;
  height: 16px;
  opacity: .3;
  background: white;
}
.flickity-page-dots .dot.is-selected {
  background: white;
  opacity: 1;
}

.name {
  font-family: "MadeGentle";
      color: #FFF;
      font-size: 6em;
      text-align: center;
      line-height: 1em;
      bottom: 250px;
      margin: 0;
      width: 100%;
      position: absolute;
}

.social {
  font-family: "MadeGentle";
  text-align: center;
  color: #FFF;
  font-size: 3em;
  position: absolute;
  bottom: 80px;
  width: 100%;
}
.social a {
  color: #FFF;
  text-decoration: none;
  margin: 0 40px;
  border-bottom: 2px solid white;
}

.megan > .social a {
  margin: 0 20px;
}

.pacing {
  position: relative;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #FFF;
  text-align: center;
  font-size: 4em;
  line-height: 100px;
  font-family: "MadeGentle";
  vertical-align: middle;
  color: #F05248;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F05248;
  border: 0;
}
.end .merci {
  border-bottom: 2px solid white;
}
.end p {
  font-family: "MadeGentle";
  font-size: 4em;
  text-align: center;
  color: #FFF;
  line-height: 1.2em;
}

.charlot {
  background-image: url(photo/charlot.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.antony {
  background-image: url(photo/antony.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.camille {
  background-image: url(photo/camille.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.olivier {
  background-image: url(photo/olivier.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.lucas {
  background-image: url(photo/lucas.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.xavier {
  background-image: url(photo/xavier.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.noemie {
  background-image: url(photo/noemie.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.nicolas {
  background-image: url(photo/nicolas.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.joelle {
  background-image: url(photo/joelle.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.benjamin {
  background-image: url(photo/benjamin.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.vincent {
  background-image: url(photo/vincent.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.julien {
  background-image: url(photo/julien.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.megan {
  background-image: url(photo/megan.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.alex {
  background-image: url(photo/alex.jpg);
  background-size: cover;
  background-position: 50% 30%;
}
