* { box-sizing: border-box; }

@font-face {
  font-family: MadeGentle;
  src: url("fonts/madegentle.otf") format("opentype");
}
@font-face {
  font-family: AauxProLight;
  src: url("fonts/AauxPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: AauxProBold;
  src: url("fonts/AauxPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: AauxProBlack;
  src: url("fonts/AauxPro-Black.ttf") format("truetype");
}
@font-face {
  font-family: AauxProUltra;
  src: url("fonts/AauxPro-Ultra.ttf") format("truetype");
}

body {
  background-color: #ff4539;
  margin: 0;
}


/* CAROUSEL */

.main-carousel {
  width: 100vw;
  height: 100vh;
}

.flickity-viewport { top: 80px; }

.flickity-button { display: none; }

.flickity-page-dots {
  bottom: 320px;
  /* display: none; */
}

.flickity-page-dots .dot {
  width: 20px;
  height: 20px;
  opacity: .3;
  background: white;
}
  .flickity-page-dots .dot.is-selected {
    background: white;
    opacity: 1;
  }


/* CELL */

.carousel-cell {
  width: 80%;
  margin-right: 30px;
  height: calc(100vh - 480px);
  border-radius: 48px;
  opacity: .3;
}
  .carousel-cell.is-selected { opacity: 1; }


/* WELCOME */

.welcome {
  border: 0px solid white;
  overflow: hidden;
  background: rgb(174,174,174);
  background: linear-gradient(180deg, rgba(174,174,174,1) 0%, rgba(214,214,214,1) 100%);
}

.welcome .title {
  padding: 80px 0 0 60px;
  text-transform: uppercase;
  line-height: 50px;
}
  .welcome .title .part1 {
    font-family: "AauxProBlack";
    font-size: 50px;
    color: #2D2A26;
  }
  .welcome .title .part2 {
    font-family: "AauxProUltra";
    font-size: 80px;
    color: #2D2A26;
  }
  .welcome .title .part3 {
    font-family: "AauxProUltra";
    font-size: 80px;
    color: #ff4539;
  }

.welcome .logo {
  position: absolute;
  top: 320px;
  left: 324px;
}
  .welcome .logo .full {
    width: 386px;
    height: 174px;
    background-image: url(img/logo-enh.svg);
    margin-bottom: 30px;
  }
  .welcome .logo .letter {
    width: 720px;
    height: 600px;
    background-image: url(img/logo-u.svg);
  }

.welcome .tonight {
  position: absolute;
  bottom: 190px;
  left: 60px;
}
  .welcome .tonight .date {
    display: inline-block;
    margin-bottom: 10px;
    font-family: "AauxProBold";
    font-size: 40px;
    color: #2D2A26;
    text-transform: uppercase;
  }
  .welcome .tonight .place {
    font-family: "MadeGentle";
    font-size: 70px;
    line-height: 80px;
    color: #2D2A26;
  }
  .welcome .tonight .extra {
    font-family: "MadeGentle";
    font-size: 40px;
    color: #2D2A26;
  }

.welcome .arrow {
  width: 100px;
  height: 100px;
  background-image: url(img/arrow.svg);
  position: absolute;
  bottom: 60px;
  right: 60px;
}


/* STUDENTS */

.student {
  border: 16px solid rgba(255,255,255, 1);
  background-size: cover;
  background-position: 50% 30%;
}

.student .pacing {
  position: relative;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #FFF;
  text-align: center;
  font-size: 4em;
  line-height: 100px;
  font-family: "MadeGentle";
  vertical-align: middle;
  color: #ff4539;
}

.student .name {
  font-family: "MadeGentle";
  color: #FFF;
  font-size: 6em;
  text-align: center;
  line-height: 1em;
  bottom: 230px;
  margin: 0;
  width: 100%;
  position: absolute;
}

.student .social {
  font-family: "MadeGentle";
  text-align: center;
  color: #FFF;
  font-size: 3em;
  position: absolute;
  bottom: 60px;
  width: 100%;
}
  .student .social a {
    color: #FFF;
    text-decoration: none;
    margin: 0 40px;
    border-bottom: 2px solid white;
  }

.name,
.social { text-shadow: 0 4px 4px rgba(0,0,0,.3); }

.charlot   { background-image: url(photo/charlot.jpg);  }
  .charlot { background-position: 45% 30%; }
.antony    { background-image: url(photo/antony.jpg);   }
  .antony { background-position: 45% 30%; }
.camille   { background-image: url(photo/camille.jpg);  }
.olivier   { background-image: url(photo/olivier.jpg);  }
.lucas     { background-image: url(photo/lucas.jpg);    }
.xavier    { background-image: url(photo/xavier.jpg);   }
.noemie    { background-image: url(photo/noemie.jpg);   }
.nicolas   { background-image: url(photo/nicolas.jpg);  }
.joelle    { background-image: url(photo/joelle.jpg);   }
  .joelle { background-position: 40% 30%; }
.benjamin  { background-image: url(photo/benjamin.jpg); }
.vincent   { background-image: url(photo/vincent.jpg);  }
.julien    { background-image: url(photo/julien.jpg);   }
.megan     { background-image: url(photo/megan.jpg);    }
  .megan .social a { margin: 0 15px; }
.alex      { background-image: url(photo/alex.jpg);     }
  .alex { background-position: 35% 30%; }


/* CREDITS */

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MadeGentle";
  font-size: 3em;
  text-align: center;
  color: #FFF;
  line-height: 1.2em;
}
  .credits p { margin: 0; }
  .credits .title {
    font-family: "AauxProLight";
    line-height: 1.5em;
  }
  .credits a {
    text-decoration: none;
    border-bottom: 1px solid white;
    color: #FFF;
  }


/* DESKTOP */

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .flickity-viewport { top: 60px; }
    .flickity-page-dots { bottom: 40px; }
    .carousel-cell {
      height: calc(100vh - 180px);
      background-position: 50% 35%;
    }
    .welcome .title {
      padding: 40px 0 0 60px;
      line-height: 50px;
    }
    .welcome .logo {
      left: 0;
      top: 400px;
    }
    .welcome .logo .full {
      transform: scale(0.6);
    }
    .welcome .logo .letter { display: none; }
    .welcome .tonight { display: none; }
    .credits {
      font-size: 1.5em;
    }
}
